<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div style="margin-top: 100px; text-align: center; ">
        <h1>관리자 페이지</h1>
        <h1>
            <p><span th:text="${administrator.balance}" ></span>원</p>
        </h1>

    </div>

    <div style="text-align: center">
        <tr th:each="r : ${refundsList}">
            <td th:text="${r.userName}"></td>
            <td th:text="${r.account}"></td>
            <td th:text="${r.bankName}"></td>
            <td th:text="${r.point}"></td>
        </tr>

    </div>


</body>
</html>