<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
<body>

        <div style="text-align: center; margin-top: 100px; ">

            <button id="100_Point">100 포인트 충전</button>

            <button id="300_Point">300 포인트 충전</button>

            <button id="500_Point">500 포인트 충전</button>

        </div>

<script>

    $("#100_Point").click(function () {
        var IMP = window.IMP; // 생략가능
        IMP.init('imp31932657');
        // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
        IMP.request_pay({

            pg: 'inicis', // version 1.1.0부터 지원.
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '스터디 참가비 100원',
            amount: 100,
            buyer_email: 'bae1004kin@naver.com',
            buyer_name: '배정현',
            buyer_tel: '01096403007',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',
            m_redirect_url: 'https://www.yourdomain.com/payments/complete'

            /*
            모바일 결제시,
            결제가 끝나고 랜딩되는 URL을 지정
            (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
            */
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
              /*  msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;*/
                $.ajax({
                    url: "/deposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 100
                    }
                });
                $.ajax({
                    url: "/adminDeposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 100
                    }
                });


                alert(msg);
                location.replace("/myPage");
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;


                alert(msg);
                location.replace("/myPage");
            }
        });
    });


    $("#300_Point").click(function () {
        var IMP = window.IMP; // 생략가능
        IMP.init('imp31932657');
        // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
        IMP.request_pay({

            pg: 'inicis', // version 1.1.0부터 지원.
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '스터디 참가비 300원',
            amount: 300,
            buyer_email: 'bae1004kin@naver.com',
            buyer_name: '배정현',
            buyer_tel: '01096403007',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',
            m_redirect_url: 'https://www.yourdomain.com/payments/complete'

            /*
            모바일 결제시,
            결제가 끝나고 랜딩되는 URL을 지정
            (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
            */
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                /*  msg += '고유ID : ' + rsp.imp_uid;
                  msg += '상점 거래ID : ' + rsp.merchant_uid;
                  msg += '결제 금액 : ' + rsp.paid_amount;
                  msg += '카드 승인번호 : ' + rsp.apply_num;*/
                $.ajax({
                    url: "/deposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 300
                    }

                });

                $.ajax({
                    url: "/adminDeposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 300
                    }
                });

                alert(msg);
                location.replace("/myPage");
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
                location.replace("/myPage");
            }
        });
    });


    $("#500_Point").click(function () {
        var IMP = window.IMP; // 생략가능
        IMP.init('imp31932657');
        // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
        IMP.request_pay({

            pg: 'inicis', // version 1.1.0부터 지원.
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '스터디 참가비 500원',
            amount: 500,
            buyer_email: 'bae1004kin@naver.com',
            buyer_name: '배정현',
            buyer_tel: '01096403007',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',
            m_redirect_url: 'https://www.yourdomain.com/payments/complete'

            /*
            모바일 결제시,
            결제가 끝나고 랜딩되는 URL을 지정
            (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
            */
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                /*  msg += '고유ID : ' + rsp.imp_uid;
                  msg += '상점 거래ID : ' + rsp.merchant_uid;
                  msg += '결제 금액 : ' + rsp.paid_amount;
                  msg += '카드 승인번호 : ' + rsp.apply_num;*/
                $.ajax({
                    url: "/deposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 500
                    }
                });

                $.ajax({
                    url: "/adminDeposit",
                    type: "GET",
                    dataType:"json",
                    data: {
                        "point" : 500
                    }
                });

                alert(msg);
                location.replace("/myPage");
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
                location.replace("/myPage");
            }
        });
    });



    // 출처: https://minaminaworld.tistory.com/78 [미나미 블로그]
</script>

</body>
</html>